@font-face {
    font-family: MyFont;
    src: url(./fonts/MyFont-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyFont;
    src: url(./fonts/MyFont-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

body {
    font-family: "MyFont", sans-serif;
}

strong {
    font-weight: bold;
}

.top {
    background: #AD61FF;
    height: 1032px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 12px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 60px;

    &__text {
        font-weight: 400;
        font-size: 68px;
        line-height: 100%;
        letter-spacing: -0.6px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #ffffff;

    }

    &__subtext {
        font-weight: 400;
        font-size: 68px;
        line-height: 100%;
        letter-spacing: -0.6px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        transform: rotate(-3deg);
        z-index: 20;
    }

    &__img {
        position: absolute;
        left: 200.97px;
        top: 30.32px;
        opacity: 0.8;

    }

    &__title {
        font-weight: 400;
        font-size: 260px;
        line-height: 60%;
        letter-spacing: -0.6px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 68px;
        line-height: 100%;
        letter-spacing: -0.6px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        padding: 43px 0px 27px;

    }

    &__paragraph {
        width: 848px;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
        letter-spacing: -0.05px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;

    }

    &__paragraph span {
        background: #D97DFF;
    }
}

.info {
    display: flex;
    column-gap: 40px;
    padding: 64px 0px 0px;

    &__btn {
        width: 324px;
        height: 76px;
        background: #FCDE00;
        border-radius: 10px;
        font-family: 'MyFont';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.15px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }
}

.little {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.05px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #E8BEFC;
}

.big {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.05px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}